.venv/
gerador_copa_do_mundo/trezentosteste999.xlsx
gerador_copa_do_mundo/images
gerador_bob_esponja/trezentosteste999.xlsx
gerador_bob_esponja/images
gerador_mente_superior/trezentosteste999.xlsx
gerador_mente_superior/images